<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commands List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
</head>
<body>
<div class="container">
    {{ $ = . }}
    <h1>Commands</h1>
    <ul>
        {{ range .commands }}
        <li>
            <a href="{{$.path}}/datatables/{{ join "/" .Parents  }}/{{ .Name }}">
            <strong>{{ .Name }}</strong>
            </a> (<a href="{{$.path}}/text/{{ join "/" .Parents }}/{{ .Name }}">text</a>,
            <a href="{{$.path}}/data/{{ join "/" .Parents }}/{{ .Name }}">json</a>
            )
            - {{ .Short }}
            {{ if .Long }}
            <details>
                <summary>Details</summary>
                {{ .Long }}
            </details>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
</body>
</html>
