<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commands Tree</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
</head>
<body>
<div class="container">
    {{ template "node" (dict "node" .commands "path" .path "showTitle" true) }}
</div>


{{ define "node" }}
    {{ $ = . }}
    <ul>
        {{ range $name, $node := .node.Children }}
            {{ if $.showTitle }}<li><strong>{{ $name }}</strong>{{ end }}

            {{ if $node.Commands }}
                {{ if $.showTitle }}<ul>{{ end }}
                {{ range $node.Commands }}
                    <li>
                        <a href="{{$.path}}/datatables/{{ join "/" .Parents  }}/{{ .Name }}">
                            <strong>{{ .Name }}</strong>
                        </a> (<a href="{{$.path}}/text/{{ join "/" .Parents }}/{{ .Name }}">text</a>,
                        <a href="{{$.path}}/data/{{ join "/" .Parents }}/{{ .Name }}">json</a>
                        )
                        {{ if .Short }}- {{ .Short }} {{ end }}
                        {{ if .Long }}
                            <details>
                                <summary>Details</summary>
                                {{ .Long }}
                            </details>
                        {{ end }}
                    </li>
                {{ end }}
                {{ if $node.Children }}
                    {{ template "node" (dict "node" $node "path" $.path "showTitle" false) }}
                {{ end }}
                {{ if $.showTitle }}</ul>{{ end }}
            {{ else }}
                {{ if $node.Children }}
                    {{ template "node" (dict "node" $node "path" $.path "showTitle" true) }}
                {{ end }}
            {{ end }}

            {{if $.showTitle }}</li>{{ end}}
        {{ end }}
    </ul>
{{ end }}
</body>
</html>